body{
    background-image: url(./image&Video/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    main {
        margin: 4%;
        border-radius: 10px;
        column-gap: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    .wrapper{
        height:400px;
        display:flex;
        justify-content:center;
        align-items:center;
    
    } 
    .wrapper .item{
        height: 320px;
        width:75%;
        position:relative;
        overflow: hidden;
    }
   
    .wrapper img{
        height: 100%;
        width:100%; 
        border-radius:25px;
        border:1px solid #807878a8;
    }
    #h2, #bt {
        position: absolute; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        color: white; 
        margin-top: 8%;
        margin-left: 5%;
    }
#h2{
 top: 40%;
}
   #bt{
 
        top: 60%;
        background-color: #f5e5e459;
        border: none;
        color: white;
        border-radius: 8px;
        width: 22%; 
        height: 13%; 
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left:0px ;
    }
    #bt i{
        position: absolute;
         /* margin-left:80%; 
         margin-top: 2%;  */
         top: 50%;
         left: 80%;
         transform: translateY(-50%);
    }
    #bt:hover{
        background-color: #ffffff;
        color:black;
    }
    ul{
        margin-top: 50%;
    }
    ul li{
        display: flex;
        justify-content: center;
        padding:10px;
     
      
        
    }
    li:hover{
        background-color: #f5e5e459;
          border-radius: 7px;
    }
    ul li i{
        color:#ffffff;
    }
     nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     
     #pic img{
        width: 100%;
        height: 100%;
        border-radius: 50%;

     }
     #pic{
        text-align: center;
        padding-top: 25px;
        color: #ffffff;
     }
     #pic p{
        font-size:small;
     }
     #recommendedSong h2{
        font-size: smaller;
        font-weight: bold;
        color: #ffffff;
      
     }
     #recommendedSong h1{
        font-size: large;
        padding: 20px 20px 20px 0px;
        font-weight: bold;
        color: #ffffff;
             }
     #recommendedSong p{
        font-size: 10px;
        color: #ffffff;
       
     }
     #recommendedSong img{
        width: 100%;
        height: 70%;
        border-radius: 5px;
        border: 1px solid #ffffff;
          box-shadow:0px 0px 7px rgba(252, 250, 250, 0.692);
     }
     #recommendedSong img:hover:before{
        opacity: 1;
     }
     #recommendedSong span{
        color: #ffffff;
        font-size: small;
     }
     #recommendedSong .rs-row{
margin-bottom: 5px;
     }
     .row nav{
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px;
     }
      .pp h1{
        font-size: large;
        padding: 20px 20px 20px 0px;
        font-weight: bold;
        color: #ffffff;
      }
.pic1{
position: relative;
width:50px;
                    height:55px;
}
#pic img{
display: block;
}
.ipic{
position:absolute;
top:0px;
left:0px;
border-radius: 5px;
color: #ffffff00;
width: 100%;
background-color: rgba(118, 127, 250, 0);
display: flex;
justify-content: center;
align-items: center; 
height: 70%; 
font-size: 25px;
 transition: 1s ease;
}
.pic1:hover .ipic{
height: 70%;
color: #ffffff;
background-color: rgba(118, 127, 250, 0.644);
}
.name{
width: 40%;
flex-grow: 0.3;
}
.name h2{
margin: 0;
padding-top: 5px;
} 
 
.rd{
background-color: #f8f8fa2a;

height: 350px;
margin-bottom: 3%;
border-radius: 15px;
box-shadow: 1px 0.5px 7px inset #fcfafae1;
text-align: center;
padding-top:40px;
color:#ffffff;
}
.rd h2{
font-size:large;
margin: 0;
}
.rd p{
font-size:small;
}
input{
    appearance:none;
    width:90%;
    outline:none;
    height: 4px;
    margin: 2% 2% 3% 2%;
    border-radius:25px;
    background:#ffffff77;
}
input::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: rgb(65, 7, 65);
    box-shadow:0px 5px 10px #ffffff94;
    border-radius: 50%;
    border: 3px solid #ffffff;
    cursor:pointer;
}
.recommended{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left:1px solid #a8a5a5; 
}
.icons{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.icons button{
    position: relative;
    border-radius: 50%;
    border: none;
    background-color:#ffffff8a ;
    box-shadow: 0px 1px 10px #ffffff9a;
 
 
}
.forward, .backward{
       width: 30px;
    height: 30px;
}
.play{
    width: 40px;
    height: 40px;

}
/* .play:hover {
    background-color: none; 
    background-color: transparent;
} */

.play i{
    padding: 10px;
    margin-left: 3px;
    font-size: 20px;
}
.forward i, .backward i{
    padding: 7px;
    font-size: 15px;
}
.icons button i{
    position: absolute;
    color: #ffffff;
    border-radius: 50%;
    border: none;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}
input[type="range"] {
    outline: none;
}
#featuredArtists, #recommendedAlbums
{
    margin: 1%;
    
}
.artists::-webkit-scrollbar, .albums::-webkit-scrollbar {
background: #ffffff1c;
border-radius: 100vw;
height: 10px;
border: 2px solid #70686852;

 }
.artists::-webkit-scrollbar-thumb, .albums::-webkit-scrollbar-thumb{
    background: #ffffff23;
    border-radius: 100vw;
    border: 2px solid #70686852;
    cursor: grab;
}
.artists::-webkit-scrollbar-thumb:hover, .albums::-webkit-scrollbar-thumb:hover {
    background:#ffffff6e;
}


.artists img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:2px solid #ffffff88;
    box-shadow: 1px 0px 10px #ffffff91;
    background-size: cover;
}
.artists img:hover{
    border:4px solid #ffffff88;
    transition: 0.2s;
}
.artists{
    display: flex; 
    overflow-x: auto;
    overflow-y: hidden;
}
.artists div{
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: smaller;
   
}
.artists p{
    margin-top: 25px;
}
.albums{
display: flex;
overflow-x: auto;
overflow-y:hidden;
}
.imgg {
    overflow: hidden;
    border-radius: 10px;
    border:2px solid #ffffff79;
    box-shadow: 0px 0px 8px #ffffff9d;
    background-size: cover;

}

.imgg img {
    transition: 1s ease; 
    width: 180px;
    height: 180px;

}

.imgg img:hover {
    transform: scale(1.2) rotate(5deg); 
    border-radius: 5px;
}
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important; 
    background-color: #dddddda2 !important;
    border-radius: 50% !important; 
    opacity: 1 !important; 
    transition: 0.5s ease;
  }

  .swiper-pagination-bullet-active {
    width: 20px !important;
    height: 10px !important;
    border-radius:30px !important; 
    background-color: #ffffff !important;
  }
 .swiper{
    height:360px;
 }

.albums div{
    margin: 7px;
    text-align: center;
    color: #ffffff;
}
.albums h2{
font-size: small;
}
#recommendedAlbums{
    margin-bottom: 20px;
}
.rs-row{
    display: flex;
    justify-content: space-between;
}

span{
    flex-grow:0.1;
}
nav{
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border: 1px solid #a8a5a5;
    border-right: none;
 }
 section{
    border-top-right-radius: 15px;
  border-bottom-right-radius:15px;
  border:1px solid #a8a5a5;
 
}
.music{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .music.pause{
    animation-play-state: paused;
} */
.track-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #999191;
    animation: spin 20s linear infinite;
    animation-play-state: paused;

}
/* .track-image.pause{
    animation-play-state: paused;} */
.track-image.play{
    animation-play-state: running;}
.circle{
     position: absolute; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0a0a0aa8;
    border:2px solid #a19b9b;
    display: flex;
    justify-content: center;
    align-items: center; 
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .track-image.spin-animation {
    animation: spin 10s linear infinite;
} */

@media (max-width: 770px) {
    .container .row {
        display: flex;
        flex-wrap: nowrap;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-content {
        flex: 1;
        width: 80%;
    }

    .col-content .row {
        flex-direction: column;
    }
    .recommended{
        border-left:none; 
    }
    .name {
        flex-grow: 0.6;
    }

    .wrapper .item{
        height: 200px;
        width:50%;
    }
    .swiper{
        height:250px;
     }
   #bt{width: 40%; 
    height: 12%;
    font-size: 10px;}  
    #h2{
        font-size: large;
       }
       .wrapper{
        height:200px;
        margin-top: 100px;
    } 
    #bt i{
        /* position: absolute; */
         /* margin-left:50%; 
         margin-top: 2%;  */
  
         left:80%;
        
    } 
}
@media (min-width: 770px) and (max-width:1060px) {
    #bt i{
         left:80%;
    } 
    #bt{width: 35%; 
        height: 12%;
        font-size: 15;}  
        #h2{
            font-size: xx-large;
           }
}

