body{
    background-image: url(./image&Video/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    .container {
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 10px;
        column-gap: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    .wrapper{
       height:280px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
     
    
    } 
    .wrapper .item{
        height: 250px;
        line-height: 110px;
        position:relative;
    }
   
    .wrapper img{
        height: 250px;
        width: 500px; 
        border-radius:25px;
        border:1px solid #807878a8;
    }
    #h2, #bt {
        position: absolute; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        color: white; 
        margin-top: 8%;
        margin-left: 5%;
    }
#h2{
 top: 40%;
}
   #bt{
        top: 60%;
        background-color: #f5e5e459;
        border: none;
        color: white;
        border-radius: 8px;
        width: 25%; 
        height: 13%; 
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left:0px ;
    }
    #bt i{
        position: absolute;
         margin-left:80%;
         margin-top: 2%;
    }
    #bt:hover{
        background-color: #ffffff;
        color:black;
    }
    ul{
        margin-top: 50%;
    }
    ul li{
        display: flex;
        justify-content: center;
        padding:10px;
     
      
        
    }
    #f-li{
        background-color: #f5e5e459;
          border-radius: 7px;
    }
    ul li i{
        color:#ffffff;
    }
    #s-ul{
        margin-top: 550%;

    }
     #pic img{
        width: 100%;
        height: 100%;
        border-radius: 50%;

     }
     #pic{
        text-align: center;
        padding-top: 25px;
        color: #ffffff;
     }
     #pic p{
        font-size:small;
     }
     #recommendedSong h2{
        font-size: smaller;
        font-weight: bold;
        color: #ffffff;
      
     }
     #recommendedSong h1{
        font-size: large;
        padding: 20px 20px 20px 0px;
        font-weight: bold;
        color: #ffffff;
             }
     #recommendedSong p{
        font-size: 10px;
        color: #ffffff;
       
     }
     #recommendedSong{
        display: block;
     }
     #recommendedSong img{
        width: 100%;
        height: 70%;
        border-radius: 5px;
        border: 1px solid #ffffff;
          box-shadow:0px 0px 7px rgba(252, 250, 250, 0.692);
     }
     #recommendedSong img:hover:before{
        opacity: 1;
     }
     #recommendedSong span{
        color: #ffffff;
        padding-left: 15%;
        font-size: small;
        padding-top: 5px;
     }
     #recommendedSong .row{
margin-bottom: 5px;
     }
     .row nav{
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px;
     }
      #popular h1{
        font-size: large;
        padding: 20px 20px 20px 0px;
        font-weight: bold;
        color: #ffffff;
      }
.pic1{
position: relative;
width:75px;
                    height:55px;
}
#pic img{
display: block;
}
.ipic{
position:absolute;
top:0;
left:12px;
border-radius: 5px;
color: #ffffff00;
width: 70%;
background-color: rgba(248, 243, 243, 0.445);
display: flex;
justify-content: center;
align-items: center; 
height: 0%; font-size: 25px;
}
.pic1:hover .ipic{
height: 70%;
color: #ffffff;
}
.name{
padding:0;
width: 35%;
}
.name h2{
margin: 0;
padding-top: 5px;
}
.rd{
background-color: #f8f8fa2a;
height: 300px;
margin-bottom: 3%;
border-radius: 15px;
box-shadow: 1px 0.5px 7px inset #fcfafae1;
text-align: center;
padding-top:90px;
color:#ffffff;
}
.rd h2{
font-size:large;
margin: 0;
}
.rd p{
font-size:small;
}

.rd input{
width: 90%;
height: 2.5%;
-webkit-appearance: none;
appearance: none;
outline:none;
background:#ffffff77;
border-radius:25px;
box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}
.rd input::-moz-range-progress{
    height: 10px;
    border-radius: 25px;
    background-color: #e63104;
}
.rd input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(82, 126, 245);
    box-shadow:0px 5px 10px #ffffff94;
    border: 3px solid #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 1px;
}
.recommended{
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.icons button{
    position: relative;
    border-radius: 50%;
    border: none;
    background-color:#ffffff8a ;
    box-shadow: 0px 1px 10px #ffffff9a;
 
}
.forward, .backward{
       width: 30px;
    height: 30px;
}.play{
    width: 40px;
    height: 40px;

}.play i{
    padding: 10px;
    margin-left: 3px;
    font-size: 20px;
}
.forward i, .backward i{
    padding: 7px;
    font-size: 15px;
}
.icons button i{
    position: absolute;
    color: #ffffff;
    border-radius: 50%;
    border: none;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}
#featuredArtists
{
    margin-top: 5%;
}

